<div class="exchange-rate-container">
  <h2>Get Exchange Rate</h2>
  <form
    class="exchange-rate-container__form"
    [formGroup]="form"
    (ngSubmit)="getExchangeRate()"
  >
    <label>
      <input formControlName="currency" placeholder="Currency Code" />
      @if (form.controls['currency'].invalid &&
      form.controls['currency'].touched) {
      <div class="input-error-container">
        @if (form.controls['currency'].errors?.['required']) {
        <small>Currency is required.</small>
        } @if (form.controls['currency'].errors?.['maxlength']) {
        <small>Currency must be less than 255 characters.</small>
        } @if (form.controls['currency'].errors?.['pattern']) {
        <small>Name cannot contain only spaces.</small>
        }
      </div>
      }
    </label>
    <label>
      <input formControlName="name" placeholder="Your Name" />
      @if (form.controls['name'].invalid && form.controls['name'].touched) {
      <div class="input-error-container">
        @if (form.controls['name'].errors?.['required']) {
        <small>Name is required.</small>
        } @if (form.controls['name'].errors?.['maxlength']) {
        <small>Name must be less than 255 characters.</small>
        } @if (form.controls['name'].errors?.['pattern']) {
        <small>Name cannot contain only spaces.</small>
        }
      </div>
      }
    </label>

    <button type="submit" [disabled]="loading">Get Exchange Rate</button>
  </form>

  @if (exchangeRate) {
  <p>Exchange Rate: {{ exchangeRate }}</p>
  } @if (errorMessage) {
  <p class="text-error">{{ errorMessage }}</p>
  } @if(loading){
  <div class="spinner"></div>
  }
</div>
