$background-color: #0f172a;
$primary-color: #38bdf8;
$primary-color-darker: #2fa4d8;
$text-color: #dadcdf;
$text-color-error: #fb7085;

$text-color-on-primary: #252525;

$heading-color: #dadcdf;
$tab-background: #1e293b;
$table-background-lighter: #26344b;
$table-background-darker: #131a27;

$box-shadow-color: rgba(0, 0, 0, 0.5);
